
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login Container */
.login-container {
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-group input:focus {
    border-color: #B8860B;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password a {
    color: #B8860B;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #B8860B;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: #FFB14E;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #B8860B;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }
    .input-group input{
        width: 350px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 325px) {
    .input-group input{
        width: 50px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
   .input-group{
    width: 60px;
}
}

@media (max-width: 375px) {
    .input-group input{
        width: 300px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

