* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1 {
    font-size: 25px;
    color: black;
    line-height: 1.5;
}

h2 {
    font-size: 25px;
    line-height: 1.5;
    color: black;
}

h3 {
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

p {
    font-size: 16px;
    color: black;
    margin: 3px 0 4px 0;
}


button.normal {
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: darkgoldenrod;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.2s;
}

body {
    width: 100%;
}

/************* Header *************/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 18px;
    position: relative;
}

#navbar li a,
#navbar li a.active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 1s;
}

#navbar li a:hover,
#navbar li a.active {
    color: darkgoldenrod;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: " ";
    width: 40px;
    height: 2px;
    background-color: darkgoldenrod;
    position: absolute;
    bottom: -1px;
    left: 20px;
}

/************* Home Page *************/

#hero {
    background-image: url(Images/background\ image\ 1.jpg);
    position: relative;
    height: 70vh;
    width: 100%;
    padding: 0 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
padding-top: 30px;
color: darkgoldenrod;
}

#hero h4 {
    padding-left: 40px;
    color: darkgoldenrod;
}

#hero h3 {
    font-size: 25px;
    color: darkgoldenrod;
}
#hero p {
    color: white;
}

/********** CTA Button ************/
.cta-button {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: white;
    color: darkgoldenrod;
}


/*********** Form Styles ************/
#form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form input, form select, form textarea, form button {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: darkgoldenrod;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

form button:hover {
    background-color: white;
    color: darkgoldenrod;
}

/************ Footer **********/
footer {
    background-color: darkgoldenrod;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
    color: white;
}

footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}
