* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1 {
    font-size: 25px;
    color: black;
    line-height: 1.5;
}

h2 {
    font-size: 25px;
    line-height: 1.5;
    color: black;
}

h3 {
    font-size: 20px;
    color: black;
    line-height: 1.5;
}

p {
    font-size: 16px;
    color: black;
    margin: 3px 0 4px 0;
}


button.normal {
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: darkgoldenrod;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    transition: 0.2s;
}

body {
    width: 100%;
}

/************* Header *************/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 18px;
    position: relative;
}

#navbar li a,
#navbar li a.active {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 1s;
}

#navbar li a:hover,
#navbar li a.active {
    color: darkgoldenrod;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: " ";
    width: 40px;
    height: 2px;
    background-color: darkgoldenrod;
    position: absolute;
    bottom: -1px;
    left: 20px;
}

/************* Home Page *************/

#hero {
    background-image: url(Images/background\ image\ 1.jpg);
    position: relative;
    height: 40vh;
    width: 100%;
    padding: 0 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    font-size: 36px;
    padding-top: 40px;
    margin: 0;
    color: darkgoldenrod;
}

#hero p {
    font-size: 18px;
    color: white;
}

/************* About *************/
#about {
    padding-top: 10px;
    justify-items: center;
}

#about h1 {
    font-size: 30px;
}

#about .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ccc;
}

#about .section {
    display: flex;
    align-items: center;
    background-color: darkgoldenrod;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px 
}
   

#about .section .content {
    flex: 1;
}

#about .section .content .h3{
    margin-top: 0;
    margin-bottom: 10px;
}

#about .section .content .p {
    margin: 0 0 10px;
}

#about .section .content button {
    padding: 10px 20px;
    background-color: darkgoldenrod;
    border: none;
    cursor: pointer;
}

#about .section .content  a {
    color: black;
    text-decoration: none;
}

#about .section .content button:hover {
    background-color: white;
}

/************* Lawyer ***********/
#lawyer {
    padding-top: 10px;
    justify-items: center;
}

#lawyer h1{
    font-size: 24px;
    margin-bottom: 10px;
}

#lawyer .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
}

#lawyer .profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#lawyer .profile {
    background-color: darkgoldenrod;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#lawyer .profile .h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#lawyer .profile .p {
    font-size: 14px;
    color: #666;
}

/************ Footer **********/
.footer {
    background-color: darkgoldenrod;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-colunm {
    flex: 1;
   margin: 0 10px; 
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: black;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
